@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,700;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  background-color: #ffba39;
  font-family: 'Raleway', sans-serif;
}

a, a:visited, a:hover, a:link {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.wrapper {
  height: 100%;
  padding: 1.5em 1em;
  max-width: 1400px;
  margin: 0 auto;
}

body .bg-header {
  background-color: white;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

body .bg-header .bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .50;
  z-index: -1;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.5rem auto;
}

body header .anchorage, body header .motel {
  text-transform: capitalize;
  font-size: 1.8em;
  padding: 3px;
  color: white;
}

body header .anchorage {
  background-color: black;
}

body header .motel {
  background: #bf2525;
}

body header p {
  font-size: 1.2em;
  font-weight: 800;
  border-bottom: 2px solid #bf2525;
  color: #181246;
}

body .bg-form {
  height: 100%;
  background-color: #0e67af;
}

body .search-form {
  padding-top: 0;
  margin-bottom: -1px;
}

body .search-form form h3 {
  margin: 0;
  border-radius: 4px 4px 0 0;
  padding: 1.5em .3em;
  width: 100%;
  height: 100%;
  font-family: 'Arimo', sans-serif;
  font-size: 1.8em;
  letter-spacing: .5px;
  font-weight: 700;
  text-align: left;
  background: #0e67af;
  color: white;
}

body .search-form form .field {
  padding: 1.5em;
  border-radius: 5px;
  background: #fff;
}

body .search-form form .field .form-item label, body .search-form form .field .form-item input, body .search-form form .field .form-item p {
  width: 95%;
  margin: 0 auto;
  display: block;
}

body .search-form form .field .form-item label {
  padding-bottom: .3em;
  font-size: 1em;
  font-weight: 700;
}

body .search-form form .field .form-item input {
  font-size: 1em;
  padding: .3em;
  margin-bottom: .7em;
  border: 1px solid;
  border-radius: 3px;
}

body .search-form form .field .form-item ::-webkit-input-placeholder {
  font-size: .8em;
  opacity: .7;
}

body .search-form form .field .form-item :-ms-input-placeholder {
  font-size: .8em;
  opacity: .7;
}

body .search-form form .field .form-item ::-ms-input-placeholder {
  font-size: .8em;
  opacity: .7;
}

body .search-form form .field .form-item ::placeholder {
  font-size: .8em;
  opacity: .7;
}

body .search-form form .field .search-button {
  width: 95%;
  margin: .7em auto 0;
}

body .search-form form .field .search-button input {
  height: 50px;
  width: 160px;
  padding: 5px 0;
  background: #0e67af;
  border: none;
  border-radius: 10px;
}

body .search-form form .field .search-button input[value="SEARCH"] {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

body .search-form form .field .search-button input[value="SEARCH"]:hover {
  background-color: #143652;
}

body .bg-form-after {
  height: 60px;
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 38%, 50% 100%, 0 41%, 0 0);
          clip-path: polygon(100% 0, 100% 38%, 50% 100%, 0 41%, 0 0);
  position: absolute;
  z-index: -1;
  background-color: #0e67af;
}

body .bg-main {
  margin-top: 5em;
}

body .deals, body .availability {
  padding: 10px 5px;
  font-weight: 700;
  background: #fff;
  margin: 0;
  border-top: 4px solid #0e67af;
}

body .availability {
  background: #cecece;
  border-top: 3px solid #9b9b9b;
  font-weight: normal;
  margin-left: 3px;
}

body main {
  margin-top: 10px;
  padding: 1em .5em;
  border-radius: 0 5px 5px 5px;
  background: #fff;
}

body main .grid-title {
  margin: 1em 0;
  font-size: 1.1em;
}

body main .grid-deals .grid-item {
  height: 100%;
  margin-bottom: 2em;
  padding: .8em;
  border: 5px solid #0e67af;
  border-radius: 5px;
  background-color: #fff;
}

body main .grid-deals .grid-item .img-slider {
  width: 100%;
  overflow: hidden;
}

body main .grid-deals .grid-item .img-slider a {
  display: inline-block;
}

body main .grid-deals .grid-item .img-slider a img {
  margin-top: .5em;
  margin-right: .7em;
  width: 2.8em;
  height: 2em;
  border: 1px solid #143652;
}

body main .grid-deals .grid-item .img-slider a:hover img {
  border: 3px solid #ffba39;
}

body main .grid-deals .grid-item .img-slider .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body main .grid-deals .grid-item .img-slider .slides img {
  border: 1px solid #143652;
  border-radius: 3px;
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .grid-deals .grid-item .img-slider .slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body main .grid-deals .grid-item .img-slider .slides::-webkit-scrollbar-thumb {
  background: #ffba39;
  border: 2px solid black;
  border-radius: 10px;
}

body main .grid-deals .grid-item .img-slider .slides::-webkit-scrollbar-track {
  background: transparent;
}

body main .grid-deals .grid-item .item-title {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
}

body main .grid-deals .grid-item .item-title a {
  display: block;
  width: 100%;
  font-size: 1.2em;
  font-weight: 700;
  margin: 1em 0 .2em;
  text-transform: capitalize;
}

body main .grid-deals .grid-item .item-title span {
  display: block;
  padding-top: 1em;
  font-weight: bold;
  border-bottom: 2px solid #ffba39;
  width: 5.5em;
}

body main .grid-deals .grid-item p {
  padding: 1.5em 0 1em;
  height: 100%;
  font-size: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body main .grid-deals .grid-item .item-title, body main .grid-deals .grid-item p {
  background-color: #fff;
}

body main .grid-deals .grid-item button {
  height: 50px;
  width: 160px;
  padding: 5px 0;
  background: #0e67af;
  border: none;
  border-radius: 10px;
  margin-top: 1em;
  font-size: .95em;
  font-weight: 700;
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

body main .grid-deals .grid-item button:hover {
  background-color: #143652;
}

.bg-main-after {
  margin-top: -1px;
  height: 50px;
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 38%, 50% 100%, 0 41%, 0 0);
          clip-path: polygon(100% 0, 100% 38%, 50% 100%, 0 41%, 0 0);
  position: absolute;
  z-index: 1;
  background-color: #ffba39;
}

.bg-footer {
  height: 100%;
  background-color: #0e67af;
}

.bg-footer .wrapper {
  padding-top: 5em;
}

.bg-footer footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  font-size: .8em;
  color: #fff;
}

.bg-footer footer a {
  font-size: 3em;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.bg-footer footer a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 450px) {
  body {
    font-size: 18px;
  }
  .wrapper {
    padding: 1.5em 2em;
  }
  .wrapper .grid-deals .grid-item .item-title a {
    font-size: 1.5em;
  }
  .wrapper .grid-deals .grid-item .item-title span {
    font-size: 1.2em;
  }
}

@media (min-width: 550px) {
  .wrapper header {
    width: 60%;
  }
  .wrapper .field {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  .wrapper .field .code {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapper main {
    padding: 1em 1.5em;
  }
  .wrapper main .grid-deals .grid-item {
    padding: 1.2em;
  }
}

@media (min-width: 700px) {
  .wrapper {
    padding: 1.5em 2.5em;
  }
  .wrapper main {
    padding: 1em 2em;
  }
}

@media (min-width: 750px) {
  .wrapper main {
    padding: 1em 2.5em;
  }
}

@media (min-width: 850px) {
  .wrapper .field {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 0;
  }
  .wrapper .field .code {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    grid-column: span 2;
  }
  .wrapper .field .search-button {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .wrapper main {
    font-size: 18px;
  }
  .wrapper main .grid-deals .grid-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto auto 1fr auto;
        grid-template-rows: auto auto 1fr auto;
  }
  .wrapper main .grid-deals .grid-item .item-title a {
    padding: 0;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 23px;
  }
  body .wrapper .grid-deals {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(320px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(320px, 1fr));
    gap: 2em;
  }
}

@media (min-width: 1100px) {
  body {
    font-size: 25px;
  }
  body .wrapper main .grid-deals .grid-item {
    padding: 2em;
  }
  body .wrapper main .grid-deals .grid-item p {
    font-size: 1.1em;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 25px;
  }
  body .wrapper {
    padding: 1.5em 3em;
    max-width: 1800px;
  }
  body .wrapper header {
    width: 40%;
  }
  body .wrapper main .grid-deals {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */